:root {
  --borderRadius: 12px;

  --background: #f7fafc;
  --foreground: #0d141c;
  --lightGray: #e5e8eb;
  --lightBlue: #4f7396;
  --darkBlue: #1474d4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1280px;
  margin: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: var(--background);
  cursor: pointer;
  background-color: var(--darkBlue);
  border-radius: var(--borderRadius);
  font-family: var(--font-manrope), sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0.6rem 1rem;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 0 10px var(--darkBlue);
  transform: translateY(-1px);
}

button:active {
  transform: translateY(1px);
}

.pageContainer {
  padding: 20px 160px;
}

section,
footer {
  padding: 40px 0;
}

.Toastify {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: var(--lightGray);
}

::-webkit-scrollbar-thumb {
  background: var(--lightBlue);
  border-radius: 3px;
}

/* Responsive Adjustments */
@media (max-width: 1280px) {
  .pageContainer {
    padding: 20px 0;
  }

  section,
  footer {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
  }
}

@media (max-width: 1080px) {
  .pageContainer {
    padding: 20px 60px;
  }
}

@media (max-width: 880px) {
  .pageContainer {
    padding: 15px 40px;
  }

  section,
  footer {
    padding: 2rem 0;
  }
}

@media (max-width: 680px) {
  .pageContainer {
    padding: 0px 40px;
  }
}

@media (max-width: 580px) {
  .pageContainer {
    padding: 0px 1.75rem;
  }

  section,
  footer {
    padding: 2rem 0 40px;
  }
}

@media (max-width: 480px) {
  section,
  footer {
    padding: 2rem 0 3rem;
  }
}
