.navbar {
  border-bottom: 1px solid var(--lightGray);
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  position: sticky;
  top: 0px;
  backdrop-filter: blur(4px);
  z-index: 100;
}

.brand {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;

  h1 {
    font-size: 20px;
    font-weight: 700;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 14px;
  font-weight: 500;

  a {
    cursor: pointer;
    position: relative;
    padding: 2px 4px;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: var(--darkBlue);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      color: var(--darkBlue);
    }
  }

  a.active {
    color: var(--darkBlue);
  }

  a.active::after {
    transform: scaleX(1);
  }
}

.downloadBtn {
  &::after {
    display: none;
  }

  button:hover {
    transform: none;
  }
}

.downloadActive button {
  box-shadow: 0 0 10px var(--darkBlue);
}
