.navbar {
  border-bottom: 1px solid var(--lightGray);
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  user-select: none;

  position: sticky;
  top: 0px;
  backdrop-filter: blur(4px);
  z-index: 10;
  transition: all 0.3s ease-out;
}

.brand {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;

  h1 {
    font-size: 20px;
    font-weight: 700;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 14px;
  font-weight: 500;

  a {
    cursor: pointer;
    position: relative;
    padding: 2px 4px;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: var(--darkBlue);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      color: var(--darkBlue);
    }
  }

  a.active {
    color: var(--darkBlue);
  }

  a.active::after {
    transform: scaleX(1);
  }
}

.downloadBtn {
  &::after {
    display: none;
  }

  button:hover {
    transform: none;
  }
}

.downloadActive button {
  box-shadow: 0 0 10px var(--darkBlue);
}

.mobileNav {
  display: none;
}

@media (max-width: 680px) {
  .navbar {
    top: 1rem;
    margin: 1rem;
    border: 2px solid var(--lightGray);
    border-radius: 18px;
    padding: 1rem 1.5rem;
    height: 63px;
    background-color: rgba(247, 250, 252, 0.7);
    overflow: hidden;
  }

  .mobileNav {
    cursor: pointer;
    display: inline-block;
  }

  .menu {
    flex-basis: 100%;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 0;

    a {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      width: 100%;
      text-align: center;
      padding: 1rem;
    }

    a::after {
      display: none;
    }

    a.active {
      font-weight: 800;
    }
  }
}
