.poster {
  padding: 2rem 0 0.5rem;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  div {
    color: var(--background);
    position: absolute;
    padding: 40px 30px;
    bottom: 0.5rem;
  }

  h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 0.5rem;
  }

  p {
    font-weight: 500;
    line-height: 24px;
  }
}

.pricing {
  margin-bottom: 2rem;

  h2 {
    font-weight: bold !important;
    font-size: 28px !important;
  }
}
